.table-card{
  margin: 2% 150px;
}

button {
  margin-top: 10px;
  margin-right: 10px;
}

table {
  width: 100%;
  /* table-layout: fixed; */
}

.user-id,
.user-server,
.user-userName,
.user-password,
.user-status,
.user-select {
  /* width: 10%; */
}


/* 
.action-cell {
  width: 10%;
  text-align: left;
} */
