#check{
    display: block;
    height: 30px;
    width: 130px;
    margin: 5px;
    border-radius: 5px;
    border: solid black 1px;
    padding: 5px; 
}

#light{
    height: 25px;
    width: 25px;
    margin: 20px;
    border-radius: 50%;
}

.offline{
    background-color: red;
}

.online{
    background-color: green;
}

input{
    height: 20px;
    width: 130px;
    margin: 5px;
    border-radius: 5px;
    border: solid black 1px;
    padding: 5px;
}

label{
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 5px;
}

h3{
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#back{
    height: 30px;
    width: 130px;
    margin: 5px;
    border-radius: 5px;
    border: solid black 1px;
    padding: 5px; 
}

#add{
    height: 30px;
    width: 130px;
    margin: 5px;
    border-radius: 5px;
    border: solid black 1px;
    padding: 5px; 
}

button:hover{
    background-color: rgba(200,200,200,1);
}

@media (max-width:920px) {

    #accountsDiv{
    display: inline-block;
    }    

    #light{
        margin: 0;
    }

    #check{
        display: block;
        margin: 30px auto 10px auto;
        
    }

    #back{
        display: inline;
        margin: 0 5px 0 auto;
    }

    #add{
        display: inline;
        margin: 0 auto 0 5px;
    }
    input{
        display: inline-block;
        width: 98%;
        margin-left: 0;
    }

    #buttons{
        display: flex;
    }

}