
#unit{
    position: relative;
    background-color: white;
    text-align: center;
    margin: 200px auto 30px auto;
    border-radius: 5px;
    border: black solid 1px;
    padding: 10px;
    max-width: 500px;
}

#transactions{
    background-color: white;
    text-align: center;
    margin: 30px auto;
    border-radius: 5px;
    border: black solid 1px;
    padding: 10px;
    max-width: 500px;
}

h1{
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#gram{
   text-align: center;
   height: 40px;
   width: 200px;
   font-size: 20px;
   margin-top: 10px;
   margin-bottom: 10px;
}

button{
    height: 40px;
    width: 100px;
    margin: 10px;
}

#buy:hover{
    background-color: green;
    color: white;
}

#sell:hover{
    background-color: red;
}

p{
    font-size: 20px;
}

#accounts{
    position: absolute;
    top: 3px;
    right: 3px;
    height: 57px;
    width: 57px;
    font-size: 10px;
    border-radius: 100%;
    border: solid black 1px;
}

#live{
    position: absolute;
    top: 55px;
    right: -2px;
    font-size: 15px;
    max-width: 95px;
    max-height: 400px;
    text-align: center;
}

#selectAccount{
    text-align: center;
    height: 45px;
    width: 200px;
    font-size: 20px;
    margin: 10px 3px;
}

label{
    margin-right: 5px;
    font-size: 20px;
}

#accounts:hover {
    background-color:darkblue;
    color: #ffffffff;
}

#gold{
    background-color: gold;
}

#gold:hover{
    opacity: 0.7;
}

#dolar:hover{
    opacity: 0.7;
}

#euro:hover{
    opacity: 0.7;
}

#dolar{
    background-color: darkolivegreen;
    color: white;
}

#euro{
    background-color:saddlebrown;
    color: white;
}